In [ ]:
import pandas as pd

data = {
    'A': [1, -2, 3, -4, 5],
    'B': [-6, 7, -8, 9, -10],
    'C': [11, -12, 13, -14, 15]
}

df = pd.DataFrame(data)

In [1]:
import pandas as pd

data = {
    'A': [1, -2, 3, -4, 5],
    'B': [-6, 7, -8, 9, -10],
    'C': [11, -12, 13, -14, 15]
}

df = pd.DataFrame(data)

In [2]:
print(df.sum())

A     3
B    -8
C    13
dtype: int64

In [3]:
print(df.min())

A    -4
B   -10
C   -14
dtype: int64

In [4]:
print(df.max())

A     5
B     9
C    15
dtype: int64

In [5]:
print(df.abs())

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [6]:
print(df.mean())

A    0.6
B   -1.6
C    2.6
dtype: float64

In [7]:
print(df.std())

A     3.646917
B     8.905055
C    14.328294
dtype: float64

In [8]:
print(df.prod())

A       120
B    -30240
C    360360
dtype: int64