In [8]:
import pandas as pd
array = [1, 3, 5, 7, 9, 11]
series_obj = pd.Series(array)
arr = series_obj.values
arr

array([ 1,  3,  5,  7,  9, 11], dtype=int64)

In [9]:
reshaped_arr = arr.reshape((3,2))
reshaped_arr

array([[ 1,  3],
       [ 5,  7],
       [ 9, 11]], dtype=int64)

In [11]:
import pandas as pd
array = ["Srujan", "Niloy", "Jeet", "Indra", "Asish", "Dwari"]
series_obj = pd.Series(array)
print("The given series:\n", series_obj)
arr = series_obj.values
arr

The given series:
 0    Srujan
1     Niloy
2      Jeet
3     Indra
4     Asish
5     Dwari
dtype: object

array(['Srujan', 'Niloy', 'Jeet', 'Indra', 'Asish', 'Dwari'], dtype=object)

In [12]:
reshaped_arr = arr.reshape((2, 3))
print("After Reshaping: \n", reshaped_arr)

After Reshaping:
 [['Srujan' 'Niloy' 'Jeet']
 ['Indra' 'Asish' 'Dwari']]

In [13]:
import pandas as pd
data = {"Name": ["Alice", "Bob", "Charlie", "Alice", "Bob", "Charlie"],
        "Subject": ["Math", "Math", "Math", "Science", "Science", "Science"],
        "Marks": [80, 90, 70, 85, 95, 75]}
df = pd.DataFrame(data)
df

      Name  Subject  Marks
0    Alice     Math     80
1      Bob     Math     90
2  Charlie     Math     70
3    Alice  Science     85
4      Bob  Science     95
5  Charlie  Science     75

In [14]:
pivoted_df = df.pivot(index = "Name", columns = "Subject", values = "Marks")
print(pivoted_df)

Subject  Math  Science
Name
Alice      80       85
Bob        90       95
Charlie    70       75

In [16]:
import pandas as pd
data = {"Name": ["Aarav", "Alisha", "Ananya", "Dev", "Ishaan", "Kavya"],
        "Gender": ["Male", "Female", "Female", "Male", "Male", "Female"],
        "Age": [28, 21, 24, 32, 26, 29]}
df = pd.DataFrame(data)
print("Dataset")
print(df)
print("-"*40)
def age_group(age):
    if age <= 18:
        return "less than 18"
    else:
        return "greater than 18"
    
df["Age Group"] = df["Age"].apply(age_group)

gender = pd.DataFrame(df.Gender.value_counts(normalize=True)*100).reset_index()
gender.columns = ['Gender', '%Gender']
df = pd.merge(left=df, right=gender, how='inner', on=['Gender'])

table = pd.pivot_table(df, index=['Gender', '%Gender', 'Age Group'],
values=['Name'], aggfunc={'Name': 'count',})
print("Table")
print(table)

Dataset
     Name  Gender  Age
0   Aarav    Male   28
1  Alisha  Female   21
2  Ananya  Female   24
3     Dev    Male   32
4  Ishaan    Male   26
5   Kavya  Female   29
----------------------------------------
Table
                                Name
Gender %Gender Age Group
Female 50.0    greater than 18     3
Male   50.0    greater than 18     3